<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <button style="position: absolute; top: 50%; left: 70%"
            data-tippy="Ex porro deleniti optio. Ducimus dolorum quam et quam. Est tempora aperiam eum odio odio qui sint tempora.
Veniam ea animi nihil expedita dolorem. Non explicabo hic praesentium non harum quas."
            class="btn">Kaufe Lampe</button>

    <button style="position: absolute; top: 20%; left: 70%"
            data-tippy="I'm a tooltip!"
            class="btn">Hallo du, Schuhe?</button>

    <button style="position: absolute; top: 70%; left: 20%"
            data-tippy="I'm a tooltip!"
            class="btn">Hallo du, Schuhe?</button>
  </body>
</html>
