html, body{
  height: 100%;
}

[splash-img] {
  width: 100%;
}

.reveal {
  position: absolute;
  left: 0;
  right: 0;
  will-change: opacity;
  animation: reveal 1s ease-out;
}

@keyframes reveal {
  0% { opacity: 0.8; }
  100% { opacity: 1; }
}

.taggd__wrapper {
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
}

.taggd__button {
  display: block;
  height: 2rem;
  width: 2rem;
  margin-left: -.5rem;
  margin-top: -.5rem;
  border-radius: 1rem;
  background-color: rgba(219, 50, 92, 0.75);
  padding: 0;
  border: 0;
  margin: 0;
  background-image: none;
  text-align: left;
}

.taggd__popup {
  display: block;
  padding: .75rem;
  position: absolute;
  left: 50%;
  top: 125%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(219, 50, 92, 0.75);
  transform: translateX(-50%);
}
