html, body{
  height: 100%;
}

[data-responsive-background-image] {
  background-attachment: fixed;
  background-color: #999;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height:100%;
  width: 100%;
}

[data-responsive-background-image] img {
  display: none;
}

.reveal {
    position: absolute;
    left: 0;
    right: 0;
    will-change: opacity;
    animation: reveal 1s ease-out;
}

@keyframes reveal {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}
